mixin storeCard(store = {}, tag={})
  .store
    .store__hero
      .store__actions
        .store__action.store__action--edit
          if user && store.author.equals(user.id)
            a(href=`/stores/${store._id}/edit`)
              != h.icon('pencil')
          else 
            span
              != h.icon('review')
      img(src=`/uploads/${store.photo || 'store.png'}`)
      h2.title
        a(href=`/store/${store.slug}`) #{store.name}
    .store__details
      p= store.description.split(' ').slice(0, 25).join(' ')
    .store__tags
      each item in store.tags
        if item === tag
          span.store__tag.active= item
        else 
          span.store__tag= item


